body{
    color:rgb(255, 255, 255);
    background-color:#333333;
    padding-bottom:50px;
    font-family: 'Nunito', sans-serif;
    font-weight:200;
    padding-top: 70px;
}nav{
    position:fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    left: 0;
    /* background: rgb(248,230,255);
    background: linear-gradient(0deg, rgba(248,230,255,1) 15%, rgba(191,216,254,1) 85%); */
    /* background-color: black; */
    /* credit to the artists of Celeste */
    background-size: cover;
    background-color: black;
}

nav a{
    background-color: white;
    padding:5px;
    padding-left: 35px;
    padding-right: 35px;
    /* border: 1px white dashed; */
    border-radius: 25px;
    text-decoration: none;
    color: rgb(182, 182, 182);
    /* credit to the artists of Celeste */
    background-color: black;
    /* filter:brightness(200%); */
    box-shadow: rgb(173, 173, 173) 0px 0px 4px 1px;
}
nav div{
    /* border: 1px black solid; */
    padding: 10px;
    margin: 10px;
}

.active_nav{
    /* background-color: crimson; */
    /* border: 2px white solid; */
    font-weight: bold;
    color: white;
    box-shadow: white 0px 0px 6px 3px;
    text-decoration: underline;

}

.pdf{
    width: 100%;
    height: 800px;
}

.flex{
    display:flex;
    flex-direction: row;
}
.profile{
    background-color: #cccccc;
    width: 350px;
    justify-self: right;
    margin-left: 20px;
    margin-right:20px;
    color:rgb(68, 68, 68);
    
}

.profile > p, .biog > p {
    padding: 10px;
}

.biog{
    background-color: rgb(68, 68, 68);
    width:100%;
    margin-right: 20px;
}